# System and IDE files
Thumbs.db
.DS_Store
.idea
.vscode
*.suo
*.sublime-project
*.sublime-workspace
# ah21
vertical-typesetting.code-workspace
*.log
*.tuc
test.pdf
test.lmtx
zhfonts/

# Vendors
node_modules/

# Build
/npm-debug.log
build/
out/
