# System and IDE files
Thumbs.db
.DS_Store
.idea
.vscode
*.suo
*.sublime-project
*.sublime-workspace
# ah21
.gitignore
vertical-typesetting.code-workspace
*.log
*.tuc
test.lmtx
temp/
*.pdf

# Vendors
node_modules/

# Build
/npm-debug.log
build/
out/
